# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# Stuff specific to this project
UCI HAR Dataset
.Rproj.user
*~
DATA.gov_NGAP.xlsx
restaurants.xml
ss06hid.csv
ss06pid.csv
